@charet "utf-8";
/* CSS Documents */

p {
	
	color: #f1e0c5;
	font-family: ;
	font-size: 22px;
	line-height: 18px;
	width: 550px;
	background-color: #386641;
	padding: 20px;
	
}

	body{background-color:#6a994e;}
	
	 a{ color: white;
	font-family: ;
	font-size: 30px;
	line-height: 20px;
	width: 350px;
	background-color:#386641;
	padding: 20px;
	  
	  